{% extends "layout.html" %}
{% block body %}

<div class="container text-center">
  <h1>Change Password</h1>
  <div class="container media-body text-left" style="height: 150px; display: inline-block; width:570px; padding-top: 10px; background-color: #dcdcdc; border-radius: .25rem;">
    <h6 class="text-center">Rules:</h6>
    <ul>
      <li>Your username must only contain letters and numbers</li>
      <li>Your username must be between 3 and 20 characters long</li>
      <li>Your password must only contain letters, numbers, and a full stop</li>
      <li>Your password must be at least 8 characters long</li>
    </ul><br>
  </div>
  <form method=post novalidate>
    <dl>
      <dd><input type=password class="form-control" name="password" placeholder="Password" maxlength="255" value="{{ request.form.password }}"></dd>
      <dd><input type=password class="form-control" name="confirm_password" placeholder="Confirm password" value="{{ request.form.confirm_password }}"></dd>
    </dl>
    <p><input type=submit class="btn btn-md btn-primary btn-block" value="Change Password"></p>
  </form><br>
</div>

{% endblock %}
