{% extends "layout.html" %}
{% block body %}

<div class="container text-center">
  <h1>Forgotten Password?</h1>
   <div class="container media-body text-left" style="height: 150px; display: inline-block; width:500px; padding-top: 10px; background-color: #dcdcdc; border-radius: .25rem;">

    <h6 class="text-center">Are you a student?</h6>
       <ul>
      <li>Please contact the Go Club host for a password reset!</li>
	  </ul>
    <h6 class="text-center">If you are an admin, please enter your registered email address and we will send an email with instructions for how to reset your password.</h6><br>
  </div>
  <form method=post>
    <dl>
      <dd><input type=email class="form-control" name="email" placeholder="Email" maxlength="255" value="{{ request.form.email }}" autofocus></dd>
    <p><input type=submit class="btn btn-md btn-primary btn-block" value=Send></p><br>
	<h6 class="text-center">Click <a href="{{ url_for('login') }}">here</a> to go back</h6>
  </form>
</div>
{% endblock %}
