{% extends "layout.html" %}

{% block body %}
  <div class="container jumbotron text-center" style="height:788px;">
    <img style="margin-top:-15px;" src="../static/img/index_go_board.png" class="shadow-lg mb-5 bg-white rounded"></img>
    <h2>About</h2>
    Welcome to Go Club Online, the best way to sharpen your skills outside of Go Club, bringing you an online virtual environment to play Go.<br>
    Here, you can challenge other users, spectate your friends' games, and ascend through the ranks!
    <br><br>
    Out with the old; in with the new! Ask the host of Go Club to create an account for you today!
  </div>
  <div id="cookies" class="alert alert-warning" style="width:100%, bottom:0; text-align:center;">This site requires cookies to function properly. You may disable cookies through your browser's settings.&nbsp&nbsp&nbsp&nbsp<button class="close-cookies btn btn-primary">I understand.</button></div>
{% endblock %}
