{% extends "layout.html" %}
{% block body %}
<div class="content-section jumbotron text" style="max-height: 900%">
  <div class="media">
    <img class="rounded-circle profile-img" src="../static/img/avi/{{ title + file_name }}">
    <div class="media-body" style="padding-left:50px">
      <h2 class="profile-heading">{{ title }} {% if title in admins %}<div class="btn btn-info"><b>TEACHER</b></div>{% endif %}</h2>
      <form method=post enctype='multipart/form-data' novalidate>
      {% if session.is_admin and session.username != title and title not in admins %}
        <input type=submit class="btn btn-danger" name="delete_button" value="Delete account" style="max-width: 250px; margin:auto;">
      {% endif %}
      {% if not session.is_admin and title not in admins and session.username != title %}
        {% if friends %}
          <input type=submit class="btn btn-danger" name="friend_button" value="Unfriend" style="max-width: 250px; margin:auto;">
        {% elif friend_request_to_user %}
          <input type=submit class="btn btn-danger" name="friend_button" value="Cancel Pending Request" style="max-width: 250px; margin:auto;">
        {% elif friend_request_from_user %}
          <input type=submit class="btn btn-success" name="friend_button" value="Accept Friend Request" style="max-width: 250px; margin:auto;">
          <input type=submit class="btn btn-danger" name="friend_button" value="Decline Friend Request" style="max-width: 250px; margin:auto;">
        {% else %}
          <input type=submit class="btn btn-success" name="friend_button" value="Send Friend Request" style="max-width: 250px; margin:auto;">
        {% endif %}
      {% endif %}
      {% if session.username != title %}
        {% if liveGame %}
          <div style="padding-top:5px"><span class="btn btn-success" onclick="window.location.href='{{ url_for('games') + '/' + game_id }}'">Go to Game</span></div>
        {% elif game_request_to_user %}
          <div style="padding-top:5px"><input type=submit class="btn btn-danger" name="challenge_button" value="Cancel Challenge Request" style="max-width: 250px; margin:auto;"></div>
        {% elif game_request_from_user %}
          <div style="padding-top:5px; display:inline-block"><input type=submit class="btn btn-success" name="challenge_button" value="Accept Challenge" style="max-width: 250px; margin:auto;">
          <input type=submit class="btn btn-danger" name="challenge_button" value="Decline Challenge" style="max-width: 250px; margin:auto;"></div>
        {% else %}
          <div style="padding-top:5px"><input type=submit class="btn btn-success" name="challenge_button" value="Challenge {{ title }}!" style="max-width: 250px; margin:auto;"></div>
        {% endif %}
      {% endif %}
      </form>
      </div>
      <p class="text-secondary text-right" style="max-width: 500px">Account created: {{ datecreated }}</p>
    </div>
  </div>
  <div class="media text-center">
    {% if session.is_admin and session.username != title %}
    <div class="container" style="height: 365px; max-width: 30%; background-color: #e9ecef; border-radius: .25rem;">
      <h3 style="padding: 15px">Profile Details</h3>
      <form method=post enctype='multipart/form-data' novalidate>
        <dl>
          <dd>Update Password<input type=password class="form-control" name="password" placeholder="Password" maxlength="255" value="{{ request.form.password }}" style="max-width: 250px; margin:auto;">
          <dd>Update Profile Picture</dd>
            <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" style="padding-left:35px; padding-bottom:10px">
          <dd>Current Password<input type=password class="form-control" name="current_password" placeholder="Current password" maxlength="255" value="{{ request.form.current_password }}" style="max-width: 250px; margin:auto;" autofocus>
        </dl>
        <input type=submit class="btn btn-md btn-primary btn-block" value="Update" style="max-width: 250px; margin:auto;">
      </form>
    </div>
    {% endif %}
    <div <div class="container media-body" style="height: 365px; background-color: #d3d9df; border-radius: .25rem;">
      <h3 style="padding: 15px">Stats</h3>
      <b>Wins: </b>{{ wins }}<br>
      <b>Losses: </b>{{ total_games-wins }}<br>
      {% if total_games != 0 %}
      <b>Win rate: </b>{{ wins/total_games*100|round(2) }}%<br>
      {% endif %}
      <b>Rating: </b>{{ rating|int }}<br>
      <b>Total moves made: </b>{{ moves_made }}<br>
      <b>Total prisoners: </b>{{ prisoners }}<br>
    </div>
  </div>
</div>

{% endblock %}
