{% extends "layout.html" %}
{% block body %}
<div class="container jumbotron">
  <h1 class="text-center">Users</h1>
  <form class="form-inline mt-2 mt-md-0" method=post>
    <div style="margin:auto;">
        <input class="form-control mr-sm-2" type="text" placeholder="Profile" name="search" value="{{ request.form.search }}" autofocus>
        <input type=submit class="btn btn-outline-dark my-2 my-sm-0" value=Search>
    </div>
  </form><br>
  <div>
    <table class="table table-hover" style="margin:auto; max-width:50%;">
      <tbody>
        {% for row in users %}
          {% if session.is_admin %}
            <tr>
              <th><img class="rounded-circle profile-img" src="static/img/avi/{{ row[1] + row[0] }}" style="height: 50px; width: 50px; "></th>
              <td><a href="users/{{ row[2] }}">{{ row[1] }} {% if row[1] in admins %}<button type="button" class="btn btn-info btn-sm"><font size=2><b>TEACHER</b></font></button>{% endif %}</a></td><td>
              {% if row[2] in deactivated_id_list %}
                <form method=post enctype='multipart/form-data' novalidate>
                  <input type=hidden name="recover_button" value="{{ row[2] }}">
                  <input type=submit class="btn btn-warning" name="recover_button" value="Recover Account" style="max-width: 250px; margin:auto;">
                </form>
              {% endif %}
            </tr>
            {% elif row[2] not in deactivated_id_list %}
              <tr>
                <th><img class="rounded-circle profile-img" src="static/img/avi/{{ row[1] + row[0] }}" style="height: 50px; width: 50px; "></th>
                <td><a href="users/{{ row[2] }}">{{ row[1] }} {% if row[1] in admins %}<button type="button" class="btn btn-info btn-sm"><font size=2><b>TEACHER</b></font></button>{% endif %}</a></td><td>
              </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
